################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/pom-selenium-hybrid/v16/TestStore/0/testlog.manifest
/.vs/pom-selenium-hybrid/v16/TestStore/0/000-0000.testlog
